@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    h1 {
        @apply text-4xl font-bold text-center
    }

    h2 {
        @apply text-2xl font-bold
    }

    h3 {
        @apply text-xl font-bold
    }

    h4 {
        @apply text-lg font-bold
    }

    pre {
        @apply pt-[20px] bg-[#e3eaf2] dark:bg-[#282c34]
    }

    span {
        @apply whitespace-pre-wrap break-words
    }
}

ol li {
    list-style-type: symbol;
    margin-left: 15px;
}

ul li {
    list-style-type: disc;
    margin-left: 15px;
}