@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    html {
        @apply overflow-x-hidden mr-[calc(-1*(100vw-100%))] {/*dont move scroll after open modal */}
    }

    body {
        @apply font-sans pt-[80px] bg-white dark:bg-darkGray dark:text-lightGray text-black transition-colors duration-300
    }

    h1 {
        @apply text-4xl font-bold text-center
    }

    h2 {
        @apply text-2xl font-bold
    }

    h3 {
        @apply text-xl font-bold
    }

    h4 {
        @apply text-lg font-bold
    }

    pre {
        @apply pt-[20px] dark:bg-[#282c34]
    }

    span {
        @apply whitespace-pre-wrap break-words
    }
}

ol li {
    list-style-type: symbol;
    margin-left: 15px;
}

ul li {
    list-style-type: disc;
    margin-left: 15px;
}